.front-indicator {
    width: 400px;
    margin: 5px 32px 15px 32px;
    background-color: #f6f6f6;
    left: 20%;
    position: absolute;
    color: #adadad;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.wrapper {
    width: 100%;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 500px;
    text-align: left;
}

.booking-details {
    float: left;
    position:absolute;
    top: 10%;
    right: 20%;
    text-align: center;
    margin-left: 35px;
    font-size: 12px;
    height: 401px;
}

.booking-details h2 {
    margin: 25px 0 20px 0;
    font-size: 17px;
}

.booking-details h3 {
    margin: 5px 5px 0 0;
    font-size: 14px;
}


.checkout-button {
    background-color: #e7e7e7;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
