.front-indicator {
    width: 400px;
    margin: 5px 32px 15px 32px;
    background-color: #f6f6f6;
    left: 20%;
    position: absolute;
    color: #adadad;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}
body {
    background-color: #DADDD5;
}

.wrapper {
    width: 100px;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 500px;
    text-align: left;
}

.booking-details {
    float: left;
    position:absolute;
    top: 10px;
    right: 20px;
    text-align: center;
    margin-left: 35px;
    font-size: 12px;
    height: 401px;
}

.booking-details h2 {
    margin: 25px 0 20px 0;
    font-size: 17px;
    font-family:  "Times New Roman", Times, serif;
}

.booking-details h3 {
    margin: 5px 5px 0 0;
    font-size: 14px;
    font-family:  "Times New Roman", Times, serif;
}


.checkout-button {
    background-color: cornflowerblue;
    border-radius: 10px;
    border: 1px solid #A3C0C4;
    color: white;
    cursor: pointer;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.3s;
    opacity: 0.6;
}
.checkout-button:after {
    content: "";
    clear: both;
    display: table;
}
.checkout-button:hover {
    opacity: 1;
}
