<html>
<head>
    <script src='../raphael-min.js'></script>
    <script src='../tables_map.js'></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>
<div class="wrapper">
    <div class="container">

        <div class="front-indicator">Front</div>

        <div class="booking-details">
            <h2>Booking Details</h2>

            <h3> Selected seats(<span id="counter">0</span>):</h3>
            <ul id="selected-seats"></ul>

            <h3>Total:<span id="total">0</span>$</h3>

            <button class="checkout-button">Checkout &raquo;</button>

        </div>
    </div>
</div>
</body>

</html>
